@tailwind base;
@tailwind components;
@tailwind utilities;

span:active {
	color: #0e7490 !important;
}

@media only screen and (max-width: 400px) {
	header {
		a {
			span {
				font-size: 16px !important;
			}
		}
		button {
			font-size: 16px;
		}
	}
}
